[submodule "lib/plugin-overload"]
	path = lib/plugin-overload
	url = https://github.com/DiscordPP/plugin-overload.git
[submodule "lib/plugin-ratelimit"]
	path = lib/plugin-ratelimit
	url = https://github.com/DiscordPP/plugin-ratelimit.git
[submodule "lib/plugin-responder"]
	path = lib/plugin-responder
	url = https://github.com/DiscordPP/plugin-responder.git
[submodule "lib/websocket-simpleweb"]
	path = lib/websocket-simpleweb
	url = https://github.com/DiscordPP/websocket-simpleweb.git
[submodule "lib/rest-simpleweb"]
	path = lib/rest-simpleweb
	url = https://github.com/DiscordPP/rest-simpleweb.git
[submodule "lib/plugin-interactionhandler"]
	path = lib/plugin-interactionhandler
	url = https://github.com/DiscordPP/plugin-interactionhandler.git
[submodule "lib/discordpp"]
	path = lib/discordpp
	url = https://github.com/DiscordPP/discordpp.git
[submodule "lib/plugin-native"]
	path = lib/plugin-native
	url = https://github.com/DiscordPP/plugin-native.git
