[submodule "lib/discordpp"]
	path = lib/discordpp
	url = https://github.com/DiscordPP/discordpp.git
[submodule "lib/websocket-beast"]
	path = lib/websocket-beast
	url = https://github.com/DiscordPP/websocket-beast.git
[submodule "lib/rest-beast"]
	path = lib/rest-beast
	url = https://github.com/DiscordPP/rest-beast.git
[submodule "lib/plugin-overload"]
	path = lib/plugin-overload
	url = git@github.com:DiscordPP/plugin-overload.git
